#delete-confirm-dialog {
    background-color: #ffffff;
    width: 50em;
    height: 19em;
    padding: 0px;
    border: 3px solid #2a85b3;
    border-radius: 20px;
}
#delete-confirm-dialog > div[name="dialog_title"] {
    background-color: #c7e7ff;
    font-size: 20px;
    color: #026090;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-start-start-radius: 17px 17px;
    border-start-end-radius: 17px 17px;
}
#delete-confirm-dialog div.confirm-message {
    background-color: #ffffff;
    width: calc(50em - 4em);
    height: calc(20em - 50px - 5em - 2em + 6px);
    float: none;
    text-align: left;
    padding: 1em 2em;
    overflow: hidden;
}
#delete-confirm-dialog div.confirm-message ul {
    border-left: 5px solid #026090;
    list-style-type: none;
    padding: 0 1em;
}
#delete-confirm-dialog div.confirm-message ul li {
    margin-bottom: 0.5em;
}
#delete-confirm-dialog div.confirm-message ul li span {
    border: 1px solid #c7e7ff;
    border-radius: 3px;
    padding: 1px 5px;
    color:#333;
}
#delete-confirm-dialog div.button-group {
    background-color: #e3f3ff;
    width: calc(50em - 4em);
    height: 2em;
    float: none;
    text-align: right;
    padding: 1em 2em;
    border-end-start-radius: 17px 17px;
    border-end-end-radius: 17px 17px;
}
#delete-confirm-dialog::backdrop {
    background-color: #666;
    opacity: 80%;
}
