body {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #595441;
	background:#E3F3FF;
	text-align:center;
	margin-top:0px;
	padding-top:10px;
}
#wrap {
	width:950px;
	margin:0 auto;
	background:white;
	text-align:left;
	padding:5px 20px 10px 20px;
	border-left:3px solid #5FA3C6;
	border-right:3px solid #5FA3C6;
	border-bottom:3px solid #5FA3C6;
	border-top:3px solid #5FA3C6;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}
div, p, td {
	font-family: Verdana, Arial;
	font-size: 12px;
}
a, a:link, a:active, a:visited {
	color: #2A85B3;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {height:50px;margin:0;float:right;width:500px;}
h1 a {text-align:right;font-size:20px;float:right;}
h1 a, h1 a:link, h1 a:active, h1 a:visited {color:#2A85B3}
h1 a:hover{text-decoration:none;}
h1 a:hover span{text-decoration:underline;color:#8dbdd8}

ul#admin_menu {
	height:100px;
	list-style-type:none;
	padding:0;
	font-size:105%;
}
ul#admin_menu li {
	color:#aaa;
	padding:1px 0;
}
ul#admin_menu li:hover {
	list-style-type:square;
	color:#000;
}

code {
	background:#eaeaef;
	padding:0 2px;
}
tt {
	background:#ffc;
	padding:0 2px;		
}

input, textarea {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
Input.text, select, textarea {
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #595441;
	background-color: #FFFFFF;
	border: 1px solid #8dbdd8;
	margin:1px;
}
input.button, a.button_stats {
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #595441;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #8dbdd8;
	cursor:pointer;
}
input.primary {
	border:2px solid #aaccaa;
	background:#fafafe;
}
input.disabled {
	border:1px solid #333;
	background:#ccc;
}
input.loading {
	background:#cc7 url(../images/loading.gif) center center no-repeat;
	color:#cc7;
}
input:focus, textarea:focus {
	border:2px solid #AACCAA;
	margin:0px;
}
tr.edit-row  td {
	background:#fdf !important;
}
#new_url {
	text-align:center;
	padding:1px;
	border:1px solid #CDCDCD;
	background:#fff;
	clear:both;
}
#new_url div {
	background:#D9EAF3;
	padding:4px;
}
#new_url_form {
	padding:4px;
}
#new_url #feedback {
	background:#ff8;
	color:#8DBDD8;
	width:50%;
	margin:0px 25%;
	padding:2px;
	border:1px solid #ff8;
}
#new_url #feedback .fail {
	color:#f55;
}
td.actions input, td.actions a {
	visibility:hidden;
}
td.actions input.disabled, td.actions input.loading {
	visibility:visible;
}
tr:hover td.actions input, tr:hover td.actions a {
	visibility:visible;
}
td.actions .button {
	height:22px;
	width:22px;
}
td.actions .button_edit {
	background:transparent url(../images/pencil.png) 2px center no-repeat;
}
td.actions .button_delete {
	background:transparent url(../images/delete.png) 2px center no-repeat;
}
td.actions .button_stats {
	background:transparent url(../images/chart_bar.png) 2px center no-repeat;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-top:0px;
	display:block;
	float:left;
}
td.actions .button_stats:hover {
	text-decoration:none;
}
#tblUrl tfoot th, #tblUrl tfoot th div {
	font-size:10px;
}
.error {
	color: red;
	background:#fee;
}
.warning {
	color: orange;
	background:#ffe9bf;
}
.success {
	color: green;
	background:#efe;
}
#login {
	width: 300px;
	margin: 200px auto 0px auto;
}
#login p{
	font-weight: bold;
}
#login .text {
	width: 100%;
}
#login ul {
	padding-left:0px;
	list-style-type:none;
	text-indent:0;
}
#login ul li {
	padding:0 0 5px 20px;
}
#login ul.error li {
	background:transparent url(../images/cancel.png) top left no-repeat;
}
#login ul.warning li {
	background:transparent url(../images/error.png) top left no-repeat;
}
#login ul.success li {
	background:transparent url(../images/accept.png) top left no-repeat;
}
.sub_wrap {
	width:580px;
	padding-bottom:30px;
	text-align:justify;
}
.sub_wrap span {
	background:#ffa;
	padding:0 2px;
}
.sub_wrap .bookmarklet {
	border:2px solid #2A85B3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:5px 5px 5px 20px;
	background:#eef url(../images/favicon.gif) 2px center no-repeat;
}
.sub_wrap .bookmarklet:hover {
	text-decoration:none;
}
#footer {
	text-align:center;
	margin-top:20px;
}
#footer p {
	padding:10px;
	background:white;
	margin:0 auto;
	width:950px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:2px solid #2A85B3;
	-moz-border-radius-bottomleft:30px;
	-moz-border-radius-bottomright:30px;
	-webkit-border-bottom-left-radius:25px;
	-webkit-border-bottom-right-radius:25px;
}
#footer p a {
	background:#fff url(../images/favicon.gif) 2px center no-repeat;
	padding-left:20px;
}

.notice {
	border:1px solid #5FA3C6;
	background: #F3FAFD;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	width:70%;
	margin-left:15%;
	padding-left:10px;
}