body {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #595441;
}
div, p, td {
	font-family: Verdana, Arial;
	font-size: 12px;
}
a, a:link, a:active, a:visited {
	color: #4a8797;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {height:50px;}
h1 a {float:right;text-align:right;}
h1 a:hover{text-decoration:none;}
h1 a:hover span{text-decoration:underline;color:#8dbdd8}
input, textarea {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
Input.text, select, textarea {
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #595441;
	background-color: #FFFFFF;
	border: 1px solid #8dbdd8;
	margin:1px;
}
input.button {
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #595441;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #8dbdd8;
	cursor:pointer;
}
input.primary {
	border:2px solid #aaccaa;
	background:#fafafe;
}
input.disabled {
	border:1px solid #333;
	background:#ccc;
}
input.loading {
	background:#cc7 url(../images/loading.gif) center center no-repeat;
	color:#cc7;
}
input:focus, textarea:focus {
	border:2px solid #AACCAA;
	margin:0px;
}
tr.edit-row  td {
	background:#fdf !important;
}
#new_url {
	text-align:center;
	padding:1px;
	border:1px solid #CDCDCD;
	background:#fff;
	clear:both;
}
#new_url div {
	background:#E6EEEE;
	padding:4px;
}
#new_url_form {
	padding:4px;
}
#new_url #feedback {
	background:#ff8;
	color:#8DBDD8;
	width:50%;
	margin:0px 25%;
	padding:2px;
	border:1px solid #ff8;
}
#new_url #feedback .fail {
	color:#f55;
}
td.actions input{
	visibility:hidden;
}
td.actions input.disabled, td.actions input.loading{
	visibility:visible;
}
tr:hover td.actions input{
	visibility:visible;
}
.error {
	color: red;
}
.success {
	color: green;
}
#footer {
	margin-top:2em;
	text-align: center;
}
#login {
	width: 210px;
	margin: 200px auto 0px auto;
}
#login p{
	font-weight: bold;
}
#login .text {
	width: 100%;
}
#shareboxes, #tweet {
	overflow:hidden;
}
div.share {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:2px solid #8DBDD8;
	background:#fff;
	margin-right:1em;
	padding:0 1em;
	float:left;
	height:130px;
}
#copybox {
	width:250px;
}
#sharebox {
	width:500px;
}
#tweet_body {
	float:left;
	width:450px;
	height:3em;
	font-size:12px;
}
#charcount {
	padding-left:5px;
	color:#8DBDD8;
}
#charcount.negative {
	color:red;
}
#share_links a {
	padding:0 12px 0 18px;
	font-weight:bold
}
#share_links a:hover {
	background-position:2px center;
}
#share_tw {background:transparent url(../images/twitter.png) left center no-repeat;}
#share_fb {background:transparent url(../images/facebook.png) left center no-repeat;}
#share_ff {background:transparent url(../images/friendfeed.png) left center no-repeat;}

#tools_desc {
	width:550px;
	zbackground:#ffe;
	padding-bottom:10px;
}
#tools_desc span {
	background:#ffa;
	padding:0 2px;
}

#tools_desc .bookmarklet {
	border:2px solid #2A85B3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:5px 5px 5px 20px;
	background:#eef url(../images/favicon.gif) 2px center no-repeat;
}

#tools_desc .bookmarklet:hover {
	text-decoration:none;
}