/* jQuery Table Sorter */
table.tblSorter {
	font-family:Verdana, Arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tblSorter th.header {
	background-color: #D9EAF3;
}
table.tblSorter thead tr th, table.tblSorter tfoot tr th {
	background-color: #D9EAF3;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tblSorter tfoot tr th {
	background-color: #D9EAF3;
}
table.tblSorter thead tr .header {
	background-image: url('../images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right:10px;
}
table.tblSorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tblSorter tbody tr.even td {
	background-color:#FFF;
}
table.tblSorter tbody tr.odd td {
	background-color:#F3FAFD;
}
table.tblSorter thead tr .headerSortUp {
	background-image: url('../images/desc.gif');
}
table.tblSorter thead tr .headerSortDown {
	background-image: url('../images/asc.gif');
}
table.tblSorter thead tr .headerSortDown, table.tblSorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
table.tblSorter tfoot tr {
	background-color: #BCD9E8;
}
.pagedisplay {
	color: #216fd8;
	font-weight: bold;
}
.prev, .next, .first, .last {
	font-weight: bold;
	cursor: pointer;
}