/* jQuery Table Sorter */
table.tblSorter {
	font-family:Verdana, Arial;
	background-color: #CDCDCD;
	margin:10px 0px 0px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tblSorter thead tr th, table.tblSorter tfoot tr th, table.tblSorter th.header {
	background-color: #C7E7FF;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tblSorter tfoot tr th {
	background-color: #E3F3FF;
}
table.tblSorter thead tr .tablesorter-header {
	background-image: url('../images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right:10px;
}
table.tblSorter thead tr .sorter-false {
	background-image: none;
	cursor:default;
}
table.tblSorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tblSorter tbody tr.normal-row td {
	background: #F1F9FF;
}
table.tblSorter tbody tr.alt-row td {

}
table.tblSorter tbody tr.normal-row:hover td  {
	background-color:#F1FFF6;
}
table.tblSorter tbody tr.alt-row:hover td  {
	background-color:#F1FFF6;
}
table.tblSorter thead tr .tablesorter-headerDesc {
	background-image: url('../images/desc.gif');
	background-repeat: no-repeat;
	background-position: center right;
}
table.tblSorter thead tr .tablesorter-headerAsc {
	background-image: url('../images/asc.gif');
	background-repeat: no-repeat;
	background-position: center right;
}
table.tblSorter thead tr .tablesorter-headerAsc, table.tblSorter thead tr .tablesorter-headerDesc {
	background-color: #91C7F2;
}
table.tblSorter tfoot tr {
	background-color: #BCD9E8;
}
#filter_form{
	float:left;
	text-align:left;
	max-width:69%;
}
#filter_buttons{
	float:right;
}
#pagination{
	text-align:right;
	float:right;
	width:30%;
}
.navigation .nav_total{
	display:block;
	margin-bottom:10px;
}
.navigation .nav_link a, .navigation .nav_current {
	border:1px solid #CDCDCD;
	margin:0px 2px;
	padding:2px 1px;
	background:#fff;
	text-align:center;
	min-width:15px;
	display:inline-block;
}
.navigation .nav_current {
	border:0px;
	background:none;
}
.navigation .nav_first a, .navigation .nav_last a {
	padding:2px 2px;
}
.navigation .nav_prev:before, .navigation .nav_next:after {
	content:"...";
}
.navigation .nav_link a:hover {
	border:1px solid #BCD9E8;
	background:#BCD9E8;
	text-decoration:none;
}