version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
  # - package-ecosystem: composer
  #   directory: "/"
  #   schedule:
  #     interval: daily
