.editorconfig

.dockerignore
Dockerfile
docker-compose.yml

.git
.gitattributes
.gitignore

Makefile

LICENSE.txt
LICENSE.md
readme.html
README.md
CHANGELOG.md
CONTRIBUTING.md

ISSUE_TEMPLATE.md

.travis.yml
.gitlab-ci.yml

sample-public-api.txt
sample-public-front-page.txt
sample-public-front-page.txt
sample-remote-api-call.txt
sample-robots.txt
