############
## YOURLS
############

# Configuration
*config.php
user/*
!user/config-sample.php
.htaccess
*.config
*.conf
[Rr]obots.txt

# Languages
!user/languages/

# Plugins
# Core plugins
!user/plugins/hyphens-in-urls/
!user/plugins/random-bg/
!user/plugins/random-shorturls/
!user/plugins/sample-page/
!user/plugins/sample-plugin/
!user/plugins/sample-toolbar/

# Pages
pages/*
!pages/examplepage.php

# Keep index.html
!user/index.html
!user/**/index.html

############
## Tests
############

includes/**/tests/
build/
coverage/
phpunit.xml
tests/vendor/
tests/data/auth/config-test-auth-hashed.php

############
## Environnement
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# NetBeans files
/nbproject/
