############
## YOURLS

# Ignore server configuration files
.htaccess
*.config
*.conf
[Rr]obots.txt

# Ignore everything in user/
user/*
# ... except config sample
!user/config-sample.php
# ... core plugins
!user/plugins/hyphens-in-urls/
!user/plugins/random-bg/
!user/plugins/random-shorturls/
!user/plugins/sample-page/
!user/plugins/sample-plugin/
!user/plugins/sample-toolbar/
# ... example pages
!user/pages/examplepage.php
# ... and index.html files
!user/index.html
!user/**/index.html

############
## Tests

includes/**/tests/
build/
coverage/
phpunit.xml
.phpunit.result.cache
tests/yourls-tests-config.php
tests/vendor/
tests/data/auth/config-test-auth-hashed.php
tests/data/htaccess/test*

############
## Environnement

# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
# Mac crap
.DS_Store
# NetBeans files
/nbproject/
.idea
