# Auto detect text files and perform LF normalization
* text=auto

# Generate pretty patches for PHP
*.php diff=php

# Exclude certain files or directories when generating an archive
assets/less/    export-ignore
/.git*          export-ignore
/*.md           export-ignore
tests/          export-ignore
/*.dist         export-ignore
