############
## YOURLS
############

# Configuration
user/*
!user/*/
user/*/*
!user/config-sample.php
.htaccess
*.config
*.conf
[Rr]obots.txt

# Core plugins
!user/plugins/hyphens-in-urls/
!user/plugins/random-bg/
!user/plugins/sample-*/

# Core themes
!user/themes/sample-theme*/
!user/themes/full-bootstrap/

# Pages
!user/pages/examplepage.php

# Keep index.html
!user/index.html
!user/*/index.html

############
## Libraries
############

# Composer
composer.lock

# Dev libs
phpunit/
whoops/

# Useless files
includes/vendor/*/*/*
includes/vendor/bin/
!includes/vendor/*/*/README.md
!includes/vendor/*/*/src/
!includes/vendor/rmccue/requests/library/
!includes/vendor/psr/log/Psr/

############
## Tests
############

tests/

############
## Environnement
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

############
## Developpement
############

# Visual Studio
*.sln
*.suo
*.phpproj

# Temp
assets/css/*
!assets/css/yourls.min.css
assets/less/*.css

# Grunt
node_modules
__untyped__
bower_components
