<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="includes/bootstrap.php"
        backupGlobals="false"
        colors="false"
        >

    <testsuites>
        <testsuite name="YOURLS Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>
</phpunit>
