<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	backupGlobals="false"
	colors="true"
	stopOnFailure="false"
	bootstrap="includes/bootstrap.php"
	>
	<testsuites>
		<testsuite name="YOURLS Test Suite">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>./YOURLS/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
	</logging>
</phpunit>
