//
// Mixins
// --------------------------------------------------

// Button outline
.btn-outline {
    .btn-outline(@yourls-color-dark);
}

// Callout
.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid @gray-lighter;

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    code,
    .highlight {
        background-color: @body-bg;
        border-radius: 3px;
    }

    a {
        font-weight: @alert-link-font-weight;
    }
}

.callout-danger {
    .callout-theme(@brand-danger);
}

.callout-warning {
    .callout-theme(@brand-warning);
}

.callout-info {
    .callout-theme(@brand-info);
}

.callout-doc {
    .callout-theme(@brand-success);
}

.callout-help {
    .callout-theme(@callout-help-bg);
}

// Notices
.container > .row > .alert {
    .make-lg-column(4);
    .make-lg-column-push(5);
    position: fixed;
    top: 0;
    z-index: 999;
    .border-top-radius(0);
    background-color: #FCF8E3;
}

// Button clipboard
button.btn-clipboard {
    &:extend(.btn, .btn-primary);
    .border-left-radius(0);

    #signature-zone > & {
        &:extend(.btn-sm);
        .border-left-radius(0);
    }
}

button.btn-clipboard-hover {
    &:extend(.btn:hover);
}

button.btn-clipboard-active {
    &:extend(.btn:active);
}

#signature {
    padding: 7px 10px 8px;
}
