name: Label Commenter

on:
  issues:
    types:
      - labeled
      - unlabeled
  pull_request_target:
    types:
      - labeled
      - unlabeled

jobs:
  comment:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          ref: master # Set your default branch

      - name: Label Commenter
        uses: peaceiris/actions-label-commenter@v1.9.1
 
